---
import Layout from '~/layouts/PageLayout.astro';

import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Content from '~/components/widgets/Content.astro';
import TextScroll from '~/components/ui/TextScroll.astro';

const metadata = {
  title: 'YU PIXEL - Yuxuans pixel scroll blog',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <BlogLatestPosts
    title="Find out more content in my scroll Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <TextScroll />

  <!-- <WidgetWrapper>
    <iframe
      src="https://codesandbox.io/embed/r9jgdk?view=preview&module=%2FApp.js&hidenavigation=1"
      style="width:100%; height: 500px; border:0; border-radius: 4px; overflow:hidden;"
      title="zealous-dust-r9jgdk"
      allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
      sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"></iframe>
  </WidgetWrapper> -->

  <Content
    isReversed
    tagline="years theme"
    title="Data shadow"
    items={[
      {
        title: 'What?',
        description: `An interactive VR installation in the style of a point cloud that shows the invisible traces of online surveillance and the personal data flow in online space`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <!-- <Fragment slot="content"> Years theme Datashadow</Fragment> -->

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>


