---
import { SITE } from '~/utils/config';
---
<!-- 
<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white "
> -->
  <svg width="40" height="42" viewBox="0 0 221 236" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M1 75L113.85 1L220.04 69.45V167.13L111.26 235.21L1 165.28V75Z"
      fill="black"
      stroke="black"
      stroke-width="0.74"></path>
    <path d="M2.48047 164.541V101.271L9.51047 111.631V160.471L110.52 223.001V232.991L2.48047 164.541Z" fill="white"
    ></path>
    <path d="M112.37 232.991V223.001L211.9 160.101V88.3206L218.56 73.8906V165.281L112.37 232.991Z" fill="white"></path>
    <path
      d="M2.48047 164.541V101.271L9.51047 111.631V160.471L110.52 223.001V232.991L2.48047 164.541Z"
      stroke="black"
      stroke-width="0.74"></path>
    <path
      d="M112.37 232.991V223.001L211.9 160.101V88.3206L218.56 73.8906V165.281L112.37 232.991Z"
      stroke="black"
      stroke-width="0.74"></path>
    <path
      d="M126.43 21.3496L111.26 31.5137M40.2204 96.4596L26.9004 86.0996L111.26 31.5137M40.2204 96.4596L50.2104 90.5396M40.2204 96.4596V147.89L108.67 193.77M111.26 31.5137V116.81L160.84 147.89L175.64 139.38V90.5396M111.26 55.0196L138.27 37.2596"
      stroke="white"
      stroke-width="1.48"></path>
    <path
      d="M137.16 39.1109V19.1309L197.84 59.4609V77.2209L137.16 39.1109Z"
      fill="white"
      stroke="white"
      stroke-width="1.48"></path>
    <path d="M101.64 49.4707V121.991L150.85 153.071L166.02 144.561V95.3507" stroke="white" stroke-width="13.32"></path>
    <path
      d="M13.04 85.999L54.65 120.139M54.65 120.139L99.79 84.6191M54.65 120.139V192.659"
      stroke="white"
      stroke-width="11.1"></path>
  </svg>
<!-- </span> -->
<div class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"> {SITE.name} </div>