
  /* DePixelHalbfett */
  @font-face {
    font-family: 'DePixelKlein';
    src: url('../fonts/DePixelKlein.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  /* @font-face {
    font-family: 'DePixelHalbfett';
    src: url('../fonts/DePixelHalbfett.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } */

  

p {
    font-family: 'Inter', sans-serif;
}

/* .canvas-container {
 position: relative;
} */

#canvasContainer {
 position: relative;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 1; /* 将 canvas 元素置于其他内容之上 */
}


