---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
export interface Props {
  upper: string;
  lower: string;
}

const { upper = await Astro.slots.render('upper'), lower = await Astro.slots.render('lower') } = Astro.props;
---

<!-- animejs here -->
<WidgetWrapper>
  <div class="uxui">
    <div class="splt codelabel3 text-8xl lg:text-9xl mb-6" set:html={upper} />
    <div class="splt codelabel4 text-4xl lg:text-9xl mb-6" set:html={lower} />
  </div>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
  <style is:global>
    .codelabel3 .codelabel4 {
      max-width: 100vw;
    }
  </style>

  <script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    gsap.registerPlugin(ScrollTrigger);

    gsap.to('.codelabel3', {
      scrollTrigger: {
        trigger: '.uxui',
        start: '-60% center',
        end: 'bottom bottom',
        // markers: true,
        scrub: true,
      },
      duration: 600,
      fontWeight: '20',
      letterSpacing: '0.5rem',
      ease: 'back.out(1)',
      startAt: {
        fontWeight: '1000',
        letterSpacing: '1.5em',
      },
    });

    gsap.to('.codelabel4', {
      scrollTrigger: {
        trigger: '.uxui',
        start: '0% 80%',
        end: 'bottom center',
        // markers: true,
        scrub: true,
      },
      duration: 200,
      fontWeight: '100',
      letterSpacing: '0.5rem', // 目标间距
      ease: 'back.out(1)',
      startAt: {
        fontWeight: '900',
        letterSpacing: '2em',
      },
    });
  </script>
</WidgetWrapper>
